@import url(reset.css);
@import url(cabecario.css);


/*Main - Cadastro - Primeira Section - Informações Blanche - Começo*/
.informacoes-blanche{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.informacoes-imagem {
    width: 25%;
}

.informacoes-imagem img{
    background-color: aqua;
    width: 100%;
    display: inline-block;
}
/*Main - Cadastro - Primeira Section - Informações Blanche - Final*/


/*Main - Cadastro - Segunda Section - Formulario Blanche - Começo*/
.formulario-blanche{
    color:white;
    position: relative;
    top: 50%;
    left: 25%;
    background-color: #a3c1e2;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    margin-bottom: 45px;
}

fieldset{
    border: 1px solid white;
    border-radius: 3px;
    padding-bottom: 40px;
}

legend{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: #97C4B8;
    border-radius: 8px;
}

.formulario-dados{
    position: relative;
}

.formulario-input{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: #5075c3;
    font-size: 15px;
    width: 80%;
    margin-left: 70px;
    letter-spacing: 2px;
}

.formulario-label{
    margin-left: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.formulario-input:focus ~ .formulario-label,
.formulario-input:valid ~.formulario-label{
    top: -20px;
    font-size: 12px;
    color: white;
}
/*Main - Cadastro - Segunda Section - Formulario Blanche - Final*/


/*Botão Estilo*/
#botao{
    margin-left: 45%;
    width: 70px;
    height: 25px;
    border-radius: 8px;
    background-color: #97C4B8;
    color: white;
    border: none;
    cursor: pointer;
}

#botao:hover{
    width: 70px;
    height: 25px;
    border-radius: 8px;
    background-color: #569685;
    color: white;
    border: none;
}

/*Footer*/
footer{
    background-color: #EFEAD8;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    color: #5F7161;
    font-size: 19px;
}

/*Responsivo*/
@media screen and (max-width: 1080px){
    #hamburguer{
        display: block;
        z-index: 9999999;
    }

    .header-top{
        display: none;
    }

    .menu{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background-color: #ffffff;
        margin: 0;
        flex-direction: column;
        padding-top:25%;
        width: 100%;
        transition: 1s ease;
        z-index: 99999;
        text-align: center;
    }

    .menu li:hover{
        background-color: #efefef;
    }

    .menu li{
        width: 100%;
        padding-left: 20px;
    }

    .menu.active{
        right: 0;
    }

    .apresentacao-imagem{
        min-height: calc(100vh - 74px);
    }

    .formulario-input{
        background: none;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        color: #5075c3;
        font-size: 15px;
        width: 80%;
        margin-left: 48px;
        letter-spacing: 2px;
    }
    
    .formulario-label{
        margin-left: 48px;
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: .5s;
    }

    footer{
        position: relative;
    }
}

@media screen and (max-width:500px){
    .formulario-blanche{
        margin-top: 10px;
        left: 10%;
        width: 80%;
    }

} 