@import url(reset.css);
@import url(cabecario.css);


/*Main - Index - Primeira Section - Apresentação - Começo*/
.apresentacao-imagem{
    text-align: center;
    background-image: url("../imagens/pincel2.jpg");
    min-height: calc(100vh - 77px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.apresentacao-artigo{
    color: #F9F3EE;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50% , -50%);
    font-size: 30px;
    z-index: 1;
}

.apresentacao-artigo h2{
    margin-bottom: 50px;
}

/*Main - Index - Primeira Section - Apresentação - Final*/

/*Main - Index - Segunda Section - Cores - Começo*/
.cores{
    padding-top: 50px;
}

.cores-artigo h2{
    padding-bottom: 30px;
}

.cores-artigo p{
    padding-bottom: 25px;
    line-height: 20px
}

.cores-imagem{
    width: 100%;
    height: 650px;
    padding-bottom: 50px;
}

.cores-artigo{
    text-align: center;
}
/*Main - Index - Segunda Section - Cores - Final*/


/*Main - Index - Terceira Section - Calculadora - Começo*/
.calculadora{
    background-color: #F9F3EE;
    width: 100%;
    height: 810px;
    padding-top: 160px;
    margin-bottom: 20px;
    position: relative;
}

.calculadora-wraper{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

.calculadora-artigo{
   background-color: #CCF3EE;
   width: 700px;
   height: 470px;
   padding: 140px 0 0 100px;
   text-align: left;
}

.calculadora-artigo h2{
    padding-bottom: 20px;
    text-align: left;
}

.calculadora-artigo p{
    text-align: left;
    width: 500px;
    padding-bottom: 20px;
}

.calculadora-imagem{
    width: 550px;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(0 , -50%);
}

.botao{
    margin: 10px 0 0 160px ;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    width: 150px;
    color:#F9F3EE;
    background-color: #97C4B8;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.botao:hover{
    color: rgb(162, 234, 234);
    background-color:#f6e3e3;
}

/*Limpeza de Flutuadores*/
.limpar{ 
    clear: both;
}
/*Main - Index - Terceira Section - Calculadora - Final*/


/*Main - Index - Quarta Section - Produto - Começo*/
.produto{
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.produto-artigo{
    padding-bottom: 100px;
}

.produto-artigo h4{
    font-size: 30px;
    padding-bottom: 16px;
}

.produto-artigo p{
    font-size: 18px;
    line-height: 22px;
}
/*Começo imagens*/

.produto-encapsulamento-imagem{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.produto-imagem{
    width: 200px;
    height: 180px;
    margin: 20px 30px 15px 30px;
}
/*Main - Index - Quarta Section - Produto - Final*/


/*Main - Index - Quinta Section - Sustentabilidade - Começo*/
.sustentabilidade{
    background-color: #6D8B74;
    width: 100%;
    height: 750px;
    padding-top: 128px;
    margin-bottom: 30px;
    position: relative;
}

.sustentabilidade-wraper{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-18%, -50%);
}

.sustentabilidade-artigo{
   background-color: #D0C9C0;
   width: 700px;
   height: 470px;
   padding: 170px 0 0 100px;
   text-align: left;
}

.sustentabilidade-artigo h2{
    padding-bottom: 20px;
    text-align: right;
    margin-right: 100px;
}

.sustentabilidade-artigo p{
    text-align: right;
    width: 500px;
    line-height: 22px;
    color: black;
}

.sustentabilidade-imagem{
    width: 350px;
    height: 440px;
    position: absolute;
    top: 50%;
    right: 85%;
    transform: translate(0 , -50%);
}
/*Main - Index - Quinta Section - Sustentabilidade - Final*/


/*Footer*/
footer{
    background-color: #EFEAD8;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    color: #5F7161;
    font-size: 19px;
}

@media only screen and (max-width:1630px){
    .sustentabilidade-wraper{
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translate(-18%, -50%);
    }

    .calculadora-wraper{
        position: absolute;
        top: 50%;
        left: 21.5%;
        transform: translate(-30%, -50%);
    }
}

@media screen and (max-width:1100px){
    .calculadora-wraper{
        position: absolute;
        top: 50%;
        left: 21%;
        transform: translate(-30%, -50%);
    }
    
    .calculadora-artigo{
       background-color: #CCF3EE;
       width: 450px;
       height: 470px;
       text-align: left;
       padding: 50px 0 0 50px;
    }
    
    .calculadora-artigo h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .calculadora-artigo p{
        text-align: left;
        max-width: 330px;
    }
    
    .calculadora-imagem{
        width: 450px;
        position: absolute;
        top: 50%;
        left: 93%;
        transform: translate(0 , -50%);
    }

    .botao{
        margin: 10px 0 0 100px;
    }
    
    .sustentabilidade-wraper{
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translate(-5%, -50%);
    }
    
    .sustentabilidade-artigo{
       background-color: #D0C9C0;
       width: 560px;
       height: 470px;
       padding: 170px 0 0 100px;
       text-align: left;
    }
    
    .sustentabilidade-artigo h2{
        padding-bottom: 20px;
        text-align: right;
        margin-right: 50px;
    }
    
    .sustentabilidade-artigo p{
        text-align: right;
        max-width: 410px;
        line-height: 22px;
        color: black;
    }
    
    .sustentabilidade-imagem{
        width: 350px;
        height: 440px;
        position: absolute;
        top: 50%;
        right: 85%;
        transform: translate(0 , -50%);
    }
    
}

@media screen and (max-width:1100px){
    .calculadora-wraper{
        position: absolute;
        top: 50%;
        left: 21%;
        transform: translate(-30%, -50%);
    }
    
    .calculadora-artigo{
       background-color: #CCF3EE;
       width: 450px;
       height: 470px;
       text-align: left;
       padding: 50px 0 0 50px;
    }
    
    .calculadora-artigo h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .calculadora-artigo p{
        text-align: left;
        max-width: 330px;
    }
    
    .calculadora-imagem{
        width: 450px;
        position: absolute;
        top: 50%;
        left: 93%;
        transform: translate(0 , -50%);
    }

    .botao{
        margin: 10px 0 0 100px;
    }
    
    .sustentabilidade-wraper{
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translate(-5%, -50%);
    }
    
    .sustentabilidade-artigo{
       background-color: #D0C9C0;
       width: 560px;
       height: 470px;
       padding: 170px 0 0 100px;
       text-align: left;
    }
    
    .sustentabilidade-artigo h2{
        padding-bottom: 20px;
        text-align: right;
        margin-right: 50px;
    }
    
    .sustentabilidade-artigo p{
        text-align: right;
        max-width: 410px;
        line-height: 22px;
        color: black;
    }
    
    .sustentabilidade-imagem{
        width: 350px;
        height: 440px;
        position: absolute;
        top: 50%;
        right: 85%;
        transform: translate(0 , -50%);
    }
    
}

@media screen and (max-width:700px){
    .calculadora-wraper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .calculadora-artigo{
       background-color: #CCF3EE;
       width: 450px;
       height: 470px;
       text-align: left;
       padding: 50px 0 0 50px;
    }
    
    .calculadora-artigo h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .calculadora-artigo p{
        text-align: left;
        max-width: 330px;
    }
    
    .calculadora-imagem{
        display: none;
    }

    .botao{
        margin: 10px 0 0 100px;
    }

    .sustentabilidade{
        background-color: #6D8B74;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
        position: relative;
    }
    
    .sustentabilidade-wraper{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .sustentabilidade-artigo{
       background-color: #D0C9C0;
       width: 100%;
       height: 470px;
       text-align: left;
       padding: 50px 0 0 50px;
       margin: 0;
    }
    
    .sustentabilidade-artigo h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .sustentabilidade-artigo p{
        text-align: left;
        max-width: 330px;
    }
    
    .sustentabilidade-imagem{
        display: none;
    }

    .produto-encapsulamento-imagem{ 
        display: flex;
        flex-wrap: wrap;
    }
}